body {
  padding-top: 5rem;
}

.center-content {
  text-align: center;
}

.hidden {
  display: none;
}

/* hide button hover ONLY FOR THE PRIMARY STYLE */
.btn-primary.key-selection-button:hover {
  background-color: #007bff;
  cursor:default !important;
}