body {
  padding-top: 2rem;
}

/* hide button hovers */

/* .btn-primary.hoverless-button:hover {
  background-color: #007bff;
  cursor:default !important;
} */

.btn-outline-primary.hoverless-button:hover {
  color: #007bff;
  background-color: #fff;
}

.btn-dark.hoverless-button:hover {
  background-color: #343A40;
}

.btn-outline-danger.hoverless-button:hover {
  color: #dc3545;
  background-color: #fff;
}