body {
  padding-top: 5rem;
}

.center-content {
  text-align: center;
}


/* hide button hovers */

/* .btn-primary.hoverless-button:hover {
  background-color: #007bff;
  cursor:default !important;
} */

.btn-outline-primary.hoverless-button:hover {
  color: #007bff;
  background-color: #fff;
  cursor:default !important;
}

.btn-dark.hoverless-button:hover {
  background-color: #343A40;
  cursor:default !important;
}

/* make carousel controls black for visibility */
.carousel-control-next,
.carousel-control-prev {
  filter: invert( 100% );
}